@using EntityLayer.Concrete
@model List<About>

<div class="about" id="about">
	<div class="container">
		<h3 class="tittle">Hakkımızda</h3>
		<p class="heading-btm-w3ls">Biz dünya çapında organik ürün yetiştiriyoruz.</p>
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li>Tarihçe</li>
				<li>Hakkımızda</li>
				<li>Referans </li>
			</ul>
			@foreach(var item in Model){
			<div class="resp-tabs-container">
				<div class="tab1">
					<p class="para-w3-agileits">@item.AbaoutHistory</p>
				</div>
				<div class="tab2">
					<p class="para-w3-agileits">@item.AbaoutUs</p>
				</div>
				<div class="tab3">
					<div class="clients">
						<ul>
							<li><img src="~/web/images/c1.png" alt="clients" class="img-responsive" /><span>Yamanlar Hırdavar</span></li>
							<li><img src="~/web/images/c2.png" alt="clients" class="img-responsive" /><span>Tavus Halı</span></li>
							<li><img src="~/web/images/c3.png" alt="clients" class="img-responsive" /><span>Kahramanlar Metal</span></li>
						</ul>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</div>